@model BIG.WEB.RY.MODEL.Content
@{
    ViewBag.Title = "Home Page";
}

    <!--Hero_Section-->

<div class="banner">

    <script>

            // You can also use "$(window).load(function() {"
            $(function () {
                $("#slider1").responsiveSlides({
                    auto: true,
                    pager: false,
                    nav: true,
                    speed: 700,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });
            });
    </script>
    <!-- responsiveslides -->
    <div id="top" class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider1">
        @foreach (var item in Model.SlideImage)
        {
            <li>
                <div class="banner">
                    <div class="imageBanner">

                        <img src="@Url.Content(@item.IMAGE_URL)" class="img-responsive" alt="">

                        <h2 style="background-color:rgba(255, 255, 255, 0.4);line-height: 30px;padding:10px;color:#ff5659;text-shadow: 2px 2px #808080;" class="imageBanner">
                            <b>@item.HTML_SUB_HEADER1</b><br />@item.HTML_SUB_HEADER2<br /><i style="font-size:13px">@item.HTML_VALUE</i>
                      
                          
                           
                        </h2>

                    </div>
                </div>

            </li>
        }
          
         
        </ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a>
    </div>

</div>
<!--Hero_Section-->

     <!--Aboutus-->
<section id="aboutUs">
    <div class="inner_wrapper">
        <div class="container">
            <div class="inner_section">
                <div class="row">
                    <h2>เกี่ยวกับเรา</h2>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                        <img src="@Url.Content(Model.AboutUs.Last().IMAGE_URL)" class="img-circle delay-03s animated wow zoomIn" alt="">
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
                        <div class="delay-01s animated fadeInDown wow animated">
                            <h3>@Model.AboutUs.Last().HTML_SUB_HEADER1</h3><br />
                            <p>
                             @Model.AboutUs.Last().HTML_VALUE
                            </p>
                        </div>
                        <!--<div class="work_bottom"> <span>Want to know more..</span> <a href="#contact" class="contact_btn">Contact Us</a> </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Aboutus-->
<!--Message from CEO-->
<section class="page_section team" id="team">
    <div class="container">
        <h2>สารจากผู้บริหาร</h2>
        <div class="team_section clearfix">
            @foreach (var item in Model.CEO)
            {
                <div class="team_area">
                    <div class="team_box wow fadeInDown delay-03s">
                        <div class="team_box_shadow"><a href="javascript:void(0)"></a></div>
                        <img src="@Url.Content(item.IMAGE_URL)" alt="">
                        <ul>
                            <li><a> @item.HTML_SUB_HEADER1</a></li>
                            <li><br /><a>@item.HTML_SUB_HEADER2</a> </li>
                        </ul>
                    </div>
                    <h3 class="wow fadeInDown delay-03s">@item.HTML_SUB_HEADER1</h3>
                    <span class="wow fadeInDown delay-03s">@item.HTML_SUB_HEADER2</span>
                    <p class="wow fadeInDown delay-03s">
                      @item.HTML_VALUE
                    </p>
                </div>

            }
        
        
        </div>
    </div>
</section>
<!--/Message from CEO-->
<!--Policy-->
<section class="page_section team" id="policy">
    <div class="inner_wrapper">
        <h2></h2>
        <div class="policy_section clearfix">
            <div class="policy_area">

                <h3 class="wow fadeInDown delay-03s">นโยบาย</h3>
                <p class="wow fadeInDown delay-03s">@Model.Policy.Last().HTML_VALUE</p>
            </div>
            <div class="policy_area">

                <h3 class="wow fadeInDown delay-03s">วิสัยทัศน์</h3>
                <p class="wow fadeInDown delay-03s">@Model.Vision.Last().HTML_VALUE</p>
            </div>
            <div class="policy_area">

                <h3 class="wow fadeInDown delay-06s">พันธกิจ</h3>
                <p class="wow fadeInDown delay-06s">@Model.Mission.Last().HTML_VALUE</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<!--Policy-->
<!--Service-->
<section id="service">
    <div class="container">
        <h2>บริษัทในเครือ</h2>
        <div class="service_wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service_block">
                        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[0].HTML_SUB_HEADER2</h3>
                        <p class="animated fadeInDown wow"> @Model.Branches[0].HTML_VALUE</p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft">
                    <div class="service_block">
                        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[1].HTML_SUB_HEADER2 </h3>
                        <p class="animated fadeInDown wow">@Model.Branches[1].HTML_VALUE</p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft">
                    <div class="service_block">
                        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[2].HTML_SUB_HEADER2</h3>
                        <p class="animated fadeInDown wow">@Model.Branches[2].HTML_VALUE</p>
                    </div>
                </div>
            </div>
            <div class="row borderTop">
                <div class="col-lg-4 mrgTop">
                    <div class="service_block">
                        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[3].HTML_SUB_HEADER2</h3>
                        <p class="animated fadeInDown wow">@Model.Branches[3].HTML_VALUE</p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft mrgTop">
                    <div class="service_block">
                        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[4].HTML_SUB_HEADER2</h3>
                        <p class="animated fadeInDown wow">@Model.Branches[4].HTML_VALUE</p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft mrgTop">
                    <div class="service_block">
                        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                        <h3 class="animated fadeInUp wow">@Model.Branches[5].HTML_SUB_HEADER2</h3>
                        <p class="animated fadeInDown wow">@Model.Branches[5].HTML_VALUE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>