<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>บริษัทรักษาความปลอดภัย บี.ไอ.จี. อินเตอร์กรุ๊ป จำกัด</title>
    <link rel="icon" href="@Url.Content("~/big_img/favicon.png")" type="image/png">
    <!--CSS-->
    <link href="@Url.Content("~/Scripts/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Scripts/css/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Scripts/css/font-awesome.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Scripts/css/animate.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Scripts/css/banner.css")" rel="stylesheet" type="text/css">


    <!--CSS-->
    <!--JS-->

    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-1.11.0.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/JS/jquery.flexisel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JS/responsiveslides.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/easyresponsivetabs.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/wow.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-scrolltofixed.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.nav.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.easing.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.isotope.js")"></script>

    <script src="@Url.Content("~/Scripts/js/jqBootstrapValidation.js")"></script>
    <script src="@Url.Content("~/Scripts/js/contact_me.js")"></script>

    <!--JS-->
    <!--[if lt IE 9]>
        <script src="js/respond-1.1.0.min.js"></script>
        <script src="js/html5shiv.js"></script>
        <script src="js/html5element.js"></script>
    <![endif]-->

</head>
<body>
    <script>

        $(document).ready(function () {

            var currentCtrl = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
            $('#'+currentCtrl.id).addClass("active");
        });

    </script>

    <div id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo"><a href="#"><img src="@Url.Content("~/big_img/logo.png")" class="img-responsive" alt="logo"></a></div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="main-nav" class="collapse navbar-collapse navStyle">
                        <ul class="nav navbar-nav" id="mainNav">
                            <li id="Home" class=""><a href="@Url.Action("Index","Home")" class="scroll-link">หน้าหลัก</a></li>
                            <li id="Service" class=""><a href="@Url.Action("Index","Service")" class="scroll-link">บริการ</a></li>
                            <li id="Customer" class=""><a href="@Url.Action("Index","Customer")" class="scroll-link">ลูกค้าของเรา</a></li>
                            <li id="Quality" class=""><a href="@Url.Action("Index","Quality")" class="scroll-link">การควบคุมคุณภาพ</a></li>
                            <li id="Contact" class=""><a href="@Url.Action("Index","Contact")" class="scroll-link">ติดต่อเรา</a> </li>
                            <li id="JoinUs" class=""><a href="@Url.Action("Index","JoinUs")" class="scroll-link">ร่วมงานกับเรา</a> </li>
                            <li id="News" class=""><a href="@Url.Action("Index","News")" class="scroll-link">ข่าวสาร</a></li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <a id="floatBtn" href="@Url.Action("Index","Contact")">
        <div class="stuck"><img style="width:100%" src="@Url.Content("~/Content/Image/icon-btn.png")"></div>
    </a>

    <!--Header_section-->
    @RenderBody()
    <!--Footer-->
    <footer class="footer_wrapper" id="contact">

        <div class="container">
            <div class="footer_bottom"><span>Copyright © 2018 บริษัทรักษาความปลอดภัย บี.ไอ.จี. อินเตอร์กรุ๊ป (ระยอง) จำกัด. <a href="tel:+6638-606387">Hot Line : 0-3860-6387</a></span> </div>

            <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
            <!-- Histats.com  START  (aync)-->
            <script type="text/javascript">
                var _Hasync= _Hasync|| [];
                _Hasync.push(['Histats.start', '1,4025810,4,320,112,62,00011100']);
                _Hasync.push(['Histats.fasi', '1']);
                _Hasync.push(['Histats.track_hits', '']);
                (function() {
                    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                    hs.src = ('//s10.histats.com/js15_as.js');
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                })();</script>
            <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4025810&101" alt="" border="0"></a></noscript>
            <!-- Histats.com  END  -->

        </div>
    </footer>
    <!--Footer-->



</body>

</html>