@model BIG.WEB.RY.MODEL.Content
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Portfolio -->
<section id="Portfolio" class="content">

    <!-- Container -->
    <div class="container portfolio_title">

        <!-- Title -->
        <div class="section-title">
            <h2>ลูกค้าของเรา</h2>
        </div>
        <!--/Title -->

    </div>
    <!-- Container -->

    <div class="portfolio-top"></div>

    <!-- Portfolio Filters -->
    <div class="portfolio">

        <div id="filters" class="sixteen columns">
            <ul class="clearfix">
                <li>
                    <a id="all" href="#" data-filter="*" class="active">
                        <h5>ทั้งหมด</h5>
                    </a>
                </li>
                @foreach (var item in Model.Customers)
                {
                    if (item.HTML_SUB_HEADER2 == "*")
                    {
                    
                    }
                    else
                    {
                        <li>
                            <a class="" href="#" data-filter="@item.HTML_SUB_HEADER2">
                                <h5>@item.HTML_SUB_HEADER1</h5>
                            </a>
                        </li>
                    }

                }
             
            </ul>
        </div>
        <!--/Portfolio Filters -->
        <!-- Portfolio Wrapper -->
        <div class="isotope fadeInLeft animated wow" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper">

            @foreach (var item in Model.CustomerList)
            {
               
                <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four @Model.Customers.Where(x=>x.AUTO_ID == item.PAGE_CONTENT_ID).First().HTML_SUB_HEADER2.Replace(".","") isotope-item">
                    <div class="portfolio_img"> <img src="@Url.Content(item.LOGO_URL)" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">@item.NAME</h4>
                        </div>
                    </div>
                </div>
            }
        

    </div>
        </div>
            <!--/Portfolio Filters -->

            <div class="portfolio_btm"></div>


            <div id="project_container">
                <div class="clear"></div>
                <div id="project_data"></div>
            </div>


</section>

<!--/Portfolio -->


