@model BIG.WEB.RY.MODEL.Content
@{
    ViewBag.Title = "CustomerManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Customer</h3>
            </div>
            <div class="container-fluid"><div style="text-align:right"><button type="button" class="btn btn-success" onclick="ShowAction(0, 'Add','Customer')">Add Customer Image</button></div></div>


            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Action</th>
                        
                        <th width="20%">Image</th>
                        <th>Type</th>

                        <th>Name</th>

                    </tr>
                    @foreach (var item in Model.CustomerList.OrderBy(x => x.AUTO_ID))
                    {
                        <tr>
                            <td><button id="@item.AUTO_ID" onclick="ShowAction(this.id, 'Edit','Customer')" type="button" class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;<button id="@item.AUTO_ID" onclick="DeleteContent(this.id)" type="button" class="btn btn-danger">Delete</button></td>
                            
                            <td><img style="width:100%" src="@Url.Content(item.LOGO_URL)"></td>
                            <td>@Model.Customers.Where(x => x.AUTO_ID == item.PAGE_CONTENT_ID).First().HTML_SUB_HEADER1</td>
                            <td>@item.NAME</td>

                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div id="CustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("SaveDataCustomer", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add/Edit Customer</h4>
                        @Html.TextBoxFor(model => model.PageCustomer.AUTO_ID, new { @id = "IDCustomer", @style = "display:block;width:auto", @class = "form-control", @readonly = "" })
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label" for="email">Customer Name :</label>
                            @Html.TextBoxFor(model => model.PageCustomer.NAME, new { @id = "nameCustomer", @required = "", @class = "form-control", placeholder = "" })

                        </div>


                        <div class="form-group">
                            <label class="control-label" for="email">Type :</label>
                            @{
                                var listItems = new List<SelectListItem>();

                                foreach (var item in Model.Customers.Where(x=>x.HTML_SUB_HEADER2 != "*"))
                                {
                                    listItems.Add(new SelectListItem { Text = item.HTML_SUB_HEADER1, Value = item.AUTO_ID.ToString() });
                                }

                                @Html.DropDownListFor(model => model.PageCustomer.PAGE_CONTENT_ID, listItems, "Select", new { @id = "typeCustomer", @class = "form-control" })
                            }



                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Image:</label><br />
                            <img id="showingImgCustomer" style="width:50%" src="" />
                            @Html.TextBoxFor(model => model.PageCustomerUpload, new { type = "file", name = "Files" })

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="confirmAdd">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                                }

            </div>
        </div>
    </div>
</div>
<script>
    function ShowAction(id, type,section) {

        if (type == "Add") {
            if(section == "Customer"){
                $('#IDCustomer').val('');
                $('#nameCustomer').val('');
                $('#typeCustomer').val('');
                $("#showingImgCustomer").attr("src", "");
                $('#CustomerModal').modal('show');
            }

        }
        else if (type == "Edit") {
            var tmpData = @Html.Raw(Json.Encode(Model));
            if(section == "Customer"){
                for (var i = 0; i < tmpData.CustomerList.length; i++) {
                    if (tmpData.CustomerList[i].AUTO_ID == id) {
                        $('#IDCustomer').val(id);
                        $('#nameCustomer').val(tmpData.CustomerList[i].NAME);
                        $('#typeCustomer').val(tmpData.CustomerList[i].PAGE_CONTENT_ID);
                        $("#showingImgCustomer").attr("src", tmpData.CustomerList[i].LOGO_URL);
                        $('#CustomerModal').modal('show');
                    }
                }
            }

        }

    }

    function DeleteContent(id){
        bootbox.confirm({
            message: "Do you want to deleate",
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-default'
                }
            },
            callback: function (result) {
                if (result) {

                    window.location = '@Url.Action("DeletePageCustomer", "Admin")'+'?id='+id;


                } else {

                }
            }
        });
    }

</script>
