@model BIG.WEB.RY.MODEL.Content
@{
    ViewBag.Title = "NewsManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">News</h3>
            </div>
            <div class="container-fluid"><div style="text-align:right"><button type="button" class="btn btn-success" onclick="ShowAction(0, 'Add','News')">Add News</button></div></div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th width="20%">Action</th>
                        <th width="30%">Caption</th>
                        <th width="40%">Description</th>
                        <th width="30%">Image</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.News)
                    {
                        <tr>
                            <td><button id="@item.AUTO_ID" onclick="ShowAction(this.id, 'Edit','News')" type="button" class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;<button id="@item.AUTO_ID" onclick="DeleteContent(this.id)" type="button" class="btn btn-danger">Delete</button></td>
                            <td>@item.HTML_SUB_HEADER1</td>
                            <td>@item.HTML_VALUE</td>
                            <td><img style="width:100%" src="@Url.Content(item.IMAGE_URL)"></td>
                            @if (item.STATUS == 1)
                            {
                                <th>Active</th>
                            }
                            else
                            {
                                <th>InActive</th>
                            }
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>


    </div>
</div>


<div id="NewsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("SaveDataNews", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit About Us</h4>
                        @Html.TextBoxFor(model => model.PageContent.AUTO_ID, new { @id = "IDNews", @style = "display:block;width:auto", @class = "form-control", @readonly = "" })
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="email">Sequence :</label>
                            @Html.TextBoxFor(model => model.PageContent.SEQ, new { @type = "number", @width = "50%", @id = "seqNews", @required = "", @class = "form-control", placeholder = "" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Caption :</label>
                            @Html.TextBoxFor(model => model.PageContent.HTML_SUB_HEADER1, new { @id = "captionNews", @required = "", @class = "form-control", placeholder = "" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Description</label>
                            @Html.TextAreaFor(model => model.PageContent.HTML_VALUE, new { @rows = "4", @cols = "50", @id = "descriptionNews", @required = "", @class = "form-control", placeholder = "" })

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Status :</label>
                            @{
                                var listItems = new List<SelectListItem>()
                            {
                            new SelectListItem {Text = "Active",   Value = "1"},
                            new SelectListItem {Text = "InActive", Value = "0"}
                            };

                                @Html.DropDownListFor(model => model.PageContent.STATUS, listItems, "Select", new { @id = "statusNews", @class = "form-control" })
                            }



                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Image:</label><br />
                            <img id="showingImgNews" style="width:30%" src="" />
                            @Html.TextBoxFor(model => model.PageContentUpload, new { type = "file", name = "Files" })

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="confirmAdd">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                                }

            </div>
        </div>
    </div>
</div>

<script>
    function ShowAction(id, type,section) {
        if (type == "Add") {
            if(section == "News"){
                $('#IDNews').val('');
                $("#showingImgNews").attr("src",'');
                $('#captionNews').val('');
                $('#descriptionNews').val('');
                $('#statusNews').val('');
                $('#seqNews').val('');
                $('#NewsModal').modal('show');

            }
        }
        if (type == "Edit") {
            var tmpData = @Html.Raw(Json.Encode(Model));

            if(section == "News"){
                for (var i = 0; i < tmpData.News.length; i++) {
                    if (tmpData.News[i].AUTO_ID == id) {
                        $('#IDNews').val(id);
                        $("#showingImgNews").attr("src", tmpData.News[i].IMAGE_URL);
                        $('#captionNews').val(tmpData.News[i].HTML_SUB_HEADER1);
                        $('#descriptionNews').val(tmpData.News[i].HTML_VALUE);
                        $('#statusNews').val(tmpData.News[i].STATUS);
                        $('#seqNews').val(tmpData.News[i].SEQ);
                        $('#NewsModal').modal('show');

                    }
                }

            }



        }

    }
    function DeleteContent(id){
        bootbox.confirm({
            message: "Do you want to deleate",
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-default'
                }
            },
            callback: function (result) {
                if (result) {

                    window.location = '@Url.Action("DeletePageContent", "Admin")'+'?id='+id;


                } else {

                }
            }
        });
    }

</script>



