@model BIG.WEB.RY.MODEL.Content
@{
    ViewBag.Title = "QualityManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Quality</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Action</th> 
                        <th>Caption</th>
                        <th width="50%">Description</th>
                        <th width="20%">Image</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Quality)
                    {
                        <tr>
                            <td><button id="@item.AUTO_ID" onclick="ShowAction(this.id, 'Edit','Quality')" type="button" class="btn btn-primary">Edit</button></td>
                          
                            <td>@item.HTML_SUB_HEADER1</td>
                            <td>@item.HTML_VALUE</td>
                            <td><img style="width:100%" src="@Url.Content(item.IMAGE_URL)"></td>
                            @if (item.STATUS == 1)
                            {
                                <th>Active</th>
                            }
                            else
                            {
                                <th>InActive</th>
                            }
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>


    </div>
</div>


<div id="QualityModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("SaveDataQuality", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit About Us</h4>
                        @Html.TextBoxFor(model => model.PageContent.AUTO_ID, new { @id = "IDQuality", @style = "display:block;width:auto", @class = "form-control", @readonly = "" })
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label" for="email">Caption :</label>
                            @Html.TextBoxFor(model => model.PageContent.HTML_SUB_HEADER1, new { @id = "captionQuality", @required = "", @class = "form-control", placeholder = "" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Description</label>
                            @Html.TextAreaFor(model => model.PageContent.HTML_VALUE, new { @rows = "4", @cols = "50", @id = "descriptionQuality", @required = "", @class = "form-control", placeholder = "" })

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Status :</label>
                            @{
                                var listItems = new List<SelectListItem>()
                            {
                            new SelectListItem {Text = "Active",   Value = "1"},
                            new SelectListItem {Text = "InActive", Value = "0"}
                            };

                                @Html.DropDownListFor(model => model.PageContent.STATUS, listItems,"Select", new { @id = "statusQuality", @class = "form-control" })
                            }



                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Image:</label><br />
                            <img id="showingImgQuality" style="width:30%" src="" />
                            @Html.TextBoxFor(model => model.PageContentUpload, new { type = "file", name = "Files" })

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="confirmAdd">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                                }

            </div>
        </div>
    </div>
</div>

<script>
    function ShowAction(id, type,section) {

        if (type == "Edit") {
            var tmpData = @Html.Raw(Json.Encode(Model));
        
            if(section == "Quality"){
                for (var i = 0; i < tmpData.Quality.length; i++) {
                    if (tmpData.Quality[i].AUTO_ID == id) {
                        $('#IDQuality').val(id);
                        $("#showingImgQuality").attr("src", tmpData.Quality[i].IMAGE_URL);
                        $('#captionQuality').val(tmpData.Quality[i].HTML_SUB_HEADER1);
                        $('#descriptionQuality').val(tmpData.Quality[i].HTML_VALUE);
                        $('#statusQuality').val(tmpData.Quality[i].STATUS);
                        $('#QualityModal').modal('show');

                    }
                }

            }
       
         

        }

    }

</script>

